.container {
  width: 95%;
  margin: 0 auto;
  position: relative;
}
.back {
  width: 100%;
  height: 120px;
}

.contact {
  background: #f9f9f9;
  padding: 6%;
  margin: 3% 0%;
  box-shadow: 0 0 20px 0 rgba(68, 19, 4, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 5%;
}

.contact input {
  width: 92%;
  border: 2px solid #65a7a4;
  border-radius: 10px;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

.contact button {
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #65a7a4;
  background: white;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}
.artistID {
  width: 185px;
  height: 35px;
  font-size: 19px;
  padding: 2px 0px 0px 4px;
}
label {
  font-size: 25px;
}

.description {
  width: 92%;
  border: 2px solid #65a7a4;
  border-radius: 10px;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}
