<link rel="stylesheet" href="/styleForm.css">
{{>header}}
<div class="container">
    <form class="contact" action="/painting-form" method="POST">

        <label class="labelForm" for="artistID">Artist
            <select name=artistID id="artistID" class="artistID">
                {{#each artists}}
                <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select></label><br>
        <label class="labelForm" for="paintName">Painting
            <input class="inputForm" type="text" name="paintName" id="paintName"></label>
        <label class="labelForm" for="price">Price
            <input class="inputForm" type="text" name="price" id="price"></label>
        <label class="labelForm" for="img">Img
            <input class="inputForm" type="text" name="img" id="img"></label>
        <label class="labelForm" for="description">Description
            <textarea rows="4" cols="50" name="description" id="description" class="description"></textarea></label>

        <button class="add" name="submit" type="submit">Add</button>

    </form>
</div>