{{>header}}
<form action="/painting-form" method="POST">

    <label for="artistID">Artisi Name</label>
    <select name=artistID id="artistID">
        {{#each artists}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select>
    <br>
    <label for="paintName">Paint Name</label>
    <input type="text" name="paintName" id="paintName">
    <br>
    {{!-- <label for="artistName">Artisi Name</label> --}}
    {{!-- <input type="text" name="artistName" id="artistName"> --}}
    {{!-- <br> --}}
    <label for="price">Price</label>
    <input type="text" name="price" id="price">
    <br>
    <label for="img">Img </label>
    <input type="text" name="img" id="img">
    <br>
    <label for="description">Description</label>
    <textarea rows="4" cols="50" name="description" id="description"></textarea>
    <br>
    <input type="submit" value="Add">

</form>